.widget-heading {
  & {
    background-color: $widget-background-color;

    display: none;

    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .container {
    .columns {
      flex: 1;
    }
  }

  .heading-cover {
    & {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: $radius-large;

      width: 188px;
      height: 188px;
    }
  }

  .item-title {
    font-size: $size-3;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .item-section {
    color: $text-light;
    font-size: $size-small;
    margin-bottom: 1rem;
  }

  .item-section:last-of-type {
    margin-bottom: 0;
  }

  .heading-second {
    padding-right: 3rem;
  }

  .heading-third {
    border-left: 1px $separator-color dashed;
    padding-left: 3rem;
    width: 260px;
  }

  @include desktop {
    display: block;
  }
}

.widget-heading-touch {
  & {
    background-color: $widget-background-color;

    display: none;

    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .heading-first {
    & {
      border-bottom: 1px $separator-color dashed;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      padding-bottom: 2rem;
    }

    .item-cover {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: $radius-large;

      margin-right: 1rem;

      min-width: 100px;
      min-height: 100px;
    }

    .item-name {
      font-size: $size-5;
      font-weight: bold;
    }
  }

  .heading-second {
    & {
      margin-top: 2rem;
    }

    .item-section {
      color: $text-light;
      font-size: $size-small;
      margin-bottom: 1rem;
    }

    .item-section:last-of-type {
      margin-bottom: 0;
    }
  }

  @include touch {
    display: block;
  }
}
