.item-desktop {
  & {
    background-color: $widget-background-color;
    border-radius: $radius-large;

    display: none;

    padding: 2rem;
  }

  .item-cover {
    & {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: $radius-large;

      width: 188px;
      height: 188px;
    }
  }

  .item-name {
    & {
      font-family: $family-secondary;
      font-size: $size-3;
      font-weight: bold;

      line-height: 1.2;

      margin-bottom: 1rem;
    }

    a, a:link, a:visited, a:hover {
      color: inherit;
    }
  }

  .item-section {
    color: $text-light;
    margin-bottom: 1rem;
  }

  .item-section:last-of-type {
    margin-bottom: 0;
  }

  .column-second {
    padding-right: 3rem;
  }

  .column-third {
    border-left: 1px $separator-color dashed;
    padding-left: 3rem;
    width: 300px;
  }

  @include desktop {
    display: flex;
  }
}

.item-touch {
  & {
    background-color: $widget-background-color;

    display: none;

    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .row-first {
    & {
      border-bottom: 1px $separator-color dashed;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      padding-bottom: 2rem;
    }

    .item-cover {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: $radius-large;

      margin-right: 1rem;

      min-width: 100px;
      min-height: 100px;
    }

    .item-name {
      & {
        font-family: $family-secondary;
        font-size: $size-4;
        font-weight: bold;

        line-height: 1.2;
      }

      a, a:link, a:visited, a:hover {
        color: inherit;
      }
    }
  }

  .row-second {
    & {
      margin-top: 2rem;
    }

    .item-section {
      color: $text-light;
      margin-bottom: 1rem;
    }

    .item-section:last-of-type {
      margin-bottom: 0;
    }
  }

  @include touch {
    display: block;
  }
}
