$text: #fff;
$text-light: #9aa4bf;
$text-strong: inherit;

$primary: #7750f8;

$body-background-color: #161b28;

$widget-background-color: #1d2333;
$separator-color: #2f3749;

$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.875rem;

$family-secondary: "Barlow Condensed", sans-serif;

$body-line-height: 1.5;
