div.widget-header-touch {
  & {
    background-color: $primary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-height;
  }

  .header-brand {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $header-height;
    height: $header-height;
  }

  @include desktop {
    display: none;
  }
}
