.widget-search-touch {
  & {
    color: $widget-search-color-placeholder;
    background-color: $widget-search-bg-color;

    flex: 1;

    padding-left: 1rem;
    padding-right: 1rem;

    height: $header-height;
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-height;
  }

  .search-input {
    & {
      flex: 1;
      margin-right: 1rem;
    }

    .input {
      & {
        color: $widget-search-color;
        background-color: transparent;
        border: none;

        font-weight: $weight-bold;

        padding: 0;
      }

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        color: $widget-search-color-placeholder;

        font-weight: $weight-normal;
      }
    }
  }

  .search-button {
    color: $widget-search-color-placeholder;
  }
}
