.widget-search-desktop {
  .search-wrapper {
    & {
      background-color: $widget-search-bg-color;
      border-radius: $radius-large;
      color: $widget-search-color-placeholder;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: 1rem;
      padding-right: 1rem;

      min-width: 400px;
      height: 52px;
    }

    .search-input {
      & {
        flex: 1;
        margin-right: 1rem;
      }

      .input {
        & {
          color: $widget-search-color;
          background-color: transparent;
          border: none;

          font-weight: $weight-bold;

          padding: 0;
        }

        &:focus {
          box-shadow: none;
        }

        &::placeholder {
          color: $widget-search-color-placeholder;

          font-weight: $weight-normal;
        }
      }
    }
  }
}
