div.widget-header-desktop {
  & {
    background-color: $primary;
    height: $header-height;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-brand {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $header-height;
    height: $header-height;
  }

  @include touch {
    display: none;
  }
}
