section.header {
  $header-height: 80px;

  $widget-search-bg-color: #5538b5;
  $widget-search-color: #fff;
  $widget-search-color-placeholder: #8b88ff;
  $widget-search-height: 52px;

  @import "Widgets/WidgetHeaderDesktop";
  @import "Widgets/WidgetHeaderTouch";
  @import "Widgets/WidgetSearchDesktop";
  @import "Widgets/WidgetSearchTouch";
}
